name: Publish to PyPI

on: 
  push:
    tags:
      tags:
        - 'v*'
        - '[0-9]*'
  workflow_dispatch:

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - name: Build Package
        run: |
          python -m pip install --upgrade pip build
          python -m build

      - name: Upload Distribution Artifact
        uses: actions/upload-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

  pypi-deployment:
    name: Deploy to PyPI
    needs:
      - build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/pypulseq

    permissions:
      id-token: write

    steps:
      - name: Download PyPI Distribution Artifact
        uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://upload.pypi.org/legacy/
          verbose: true
